<div class="container">
  <div class="container-pictures">
    <img class="container-pictures-image" src="{{product.src}}/1.jpg" alt="">
    <img class="container-pictures-image" src="{{product.src}}/2.jpg" alt="">
    <img class="container-pictures-image" src="{{product.src}}/3.jpg" alt="">
    <img class="container-pictures-image" src="{{product.src}}/4.jpg" alt="">
    <img class="container-pictures-image" src="{{product.src}}/5.jpg" alt="">
    <img class="container-pictures-image" src="{{product.src}}/6.jpg" alt="">
  </div>
  <div class="container-text">
    <div class="container-text-name">{{product.name}}</div>
    <div class="container-text-description">{{product.description}}</div>
    <div class="container-text-text">{{product.text}}</div>
  </div>
</div>
