.content {
  border: 1px black solid;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  &-text {
  text-align: center;
   }
  &-description {
    text-align: center;
  }
  &-image {
    width: 100%;
    height: auto;
  }
  &-button {
    border-radius: 50%;
    background-color: black;
    color: white;
    width: 60px;
    height: 30px;
    align-self: center;
    display: none;
    margin-top: 5px;
  }
  &:hover {
    .card-image {
      opacity: 0.6;
    }
    .card-text {
      display: none;
    }
    .card-description {
      display: none;
    }
    .card-button {
      display: block;
    }
  }
}

